* {
    box-sizing: border-box;
 }


.cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(0,30vh) minmax(0,30vh) minmax(0,30vh) ;
    border: 1px solid rgb(0, 255, 102);
    width: 100%; 
}

.log{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.info{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
